<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hss01248.flipper.urlconnection">
    <application >
        <!-- 在宿主 App 的 AndroidManifest 中配置 bypass 域名，例如：
        <meta-data
            android:name="flipper.urlconnection.bypass_exact_hosts"
            android:value="sc.example.com" />
        -->
<!--        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                tools:node="merge"
                android:name="com.hss01248.flipper.urlconnection.InitForUrlConnection"
                android:value="androidx.startup" />
        </provider>-->
        <provider
            android:name="com.hss01248.flipper.urlconnection.ProxyUrlInit2"
            android:authorities="${applicationId}.ProxyUrlInit2"
            android:exported="false"
            android:initOrder="200" />
    </application>

</manifest>